.Rhistory
stat-project-stroke.aux
./*.aux
./*.log
stat-project-stroke.aux
stat-project-stroke.aux
stat-project-stroke.aux
*.aux
*.aux
*.gz
*.gz
*.log
*.gz
*.aux
*.log
stat-project-stroke.log
*.gz
Statistical-Project.synctex.gz
